input,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select {
  width: 100%;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;

  &::after {
    top: 14px;
    right: 20px;
    display: inline-block;
    position: absolute;
    pointer-events: none;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('/public/icons/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.form-control {
  display: block;
  height: 30px;
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: rgb(246, 246, 246);
  color: $grey-dark;
  font-size: 1rem;
  line-height: 20px;
  padding: 10px 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
  outline: none;
}