{
  "retainLines": true,
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./src",
          "actions": "./src/actions",
          "config": "./src/config",
          "constants": "./src/constants",
          "reducers": "./src/reducers",
          "services": "./src/services",
          "components": "./src/components",
          "pages": "./src/pages"
        }
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 0.5%",
            "not dead"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    }
  }
}